.tanah-container {
  display: flex;
  animation: slideLeftTanah 25s linear infinite;
  gap: 0;
}

.bg-tanah1 {
  position: absolute;
  left: -100%;
  bottom: -1px;
}

.bg-tanah2 {
  z-index: 5;
}

.bg-tanah {
  height: 100px;
}

@keyframes slideLeftTanah {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 390px) {
  .tanah-container {
    animation: slideLeftTanah 10s linear infinite;
  }
}
